.main-container {
    width: 88%;
    /* margin: 2.75em auto; */
}

nav
{
    /* height: 30px; */
    background-color: #343a40;
}

#banner
{
    min-height: 80px;
    background-color: bisque;
}

main
{
    min-height: 200px;
    background-color: darkgrey;
}

footer
{
    min-height: 80px;
    background-color: gainsboro;
}