#banner
{
    height: 80px;
    background-color: bisque;
}

nav
{
    /* height: 30px; */
    background-color: #343a40;
}

main
{
    height: 600px;
    background-color: darkgrey;
}

footer
{
    height: 200px;
    background-color: gainsboro;
}