h1,
h2,
h3,
h4,
h5,
h6,
p,
a
{
    font-family: 'Open Sans', sans-serif;
}

.main-container
{
    width: 88%;
}

nav
{
    background-color: #343a40;
}

.navbar
{
    width: 88%;
    margin-right: auto;
    margin-left: auto;
}

#banner
{
    width: 88%;
    margin-right: auto;
    margin-left: auto;
    min-height: 80px;
    background-color: bisque;
}

main
{
    min-height: 200px;
    background-color: darkgrey;
}

footer
{
    width: 88%;
    margin-right: auto;
    margin-left: auto;
    min-height: 80px;
    background-color: gainsboro;
}